<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://catch22.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>catch22.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>catch22</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$catch22</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Catch22DataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pzicqnbcc1.database.windows.net,1433;Initial Catalog=Catch22Data;User ID=feldmannst@pzicqnbcc1;Password=@wsx3edc" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Catch22.Models.Catch22DataEntities, Catch22" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Catch22DataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Catch22DataModels.csdl|res://*/Models.Catch22DataModels.ssdl|res://*/Models.Catch22DataModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:pzicqnbcc1.database.windows.net,1433;Initial Catalog=Catch22Data;User ID=feldmannst@pzicqnbcc1;Password=@wsx3edc"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>